*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

li{
    list-style-type: none;
}
